.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: black;
  height: 200px;
  padding: 20px;
  color:  #e75220;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-body {
  margin-bottom: 30px;
  background-image: url('toolPoolBg.jpg');
  background-size: contain;
  padding-bottom: 50px;
  min-height: 1000px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
